<h1>Çalışan Ekle</h1>
<form asp-action="AddEmployee" method="post">
    <div>
        <label>Ad Soyad</label>
        <input type="text" name="Name" required />
    </div>
    
    <button type="submit">Kaydet</button>
</form>
