@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="container text-center mt-5">
    <h1 class="display-4">Kuaför Randevu Sistemi</h1>
    <p class="lead">Kolayca randevu oluşturun ve işlemlerinizi hızlıca halledin.</p>
    <hr class="my-4">
    <div class="mt-4">
        <a class="btn btn-primary btn-lg mx-2" href="/Account/Register" role="button">Kayıt Ol</a>
        <a class="btn btn-success btn-lg mx-2" href="/Account/Login" role="button">Giriş Yap</a>
    </div>
</div>
